= form_tag password_reset_path(@password_reset), method: :put do |f|
  %fieldset
    %legend Reset password

    = hidden_field_tag :password_reset_id, @password_reset.id
    = hidden_field_tag :password_reset_code, @password_reset.code

    .clearfix
      = label_tag :password, 'New password'
      .input
        = password_field_tag :password, nil, class: 'input-password'

    .clearfix
      = label_tag :password_confirmation, 'Confirm new password'
      .input
        = password_field_tag :password_confirmation, nil, class: 'input-password'

    .actions
      = submit_tag 'Save', class: 'btn btn-primary'
